.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

#cabecera {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#tablaTemperaturas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#tablaHumedad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.humedad {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.temperatura {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.metrica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

p {
    text-align: center;

}


